.vs/Calculator/FileContentIndex/
.vs/Calculator/v17/Browse.VC.db
.vs/Calculator/v17/Browse.VC.db-shm
.vs/Calculator/v17/Browse.VC.db-wal
.vs/Calculator/v17/Browse.VC.opendb
.vs/Calculator/v17/DocumentLayout.backup.json
calculator/Debug/
calculator/Project1/Debug/
.vs/Calculator/v17/ResourceExplorer/
.vs/VSWorkspaceState.json
calculator/.vs/calculator/FileContentIndex/
calculator/.vs/calculator/v17/Browse.VC.db
calculator/.vs/calculator/v17/Browse.VC.db-shm
calculator/.vs/calculator/v17/Browse.VC.db-wal
calculator/.vs/calculator/v17/Browse.VC.opendb
calculator/.vs/calculator/v17/DocumentLayout.backup.json
calculator/.vs/calculator/v17/Solution.VC.db-shm
calculator/.vs/calculator/v17/Solution.VC.db-wal
calculator/.vs/calculator/v17/ipch/
calculator/Project1/x64/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.obj