.vs/Calculator/FileContentIndex/
.vs/Calculator/v17/Browse.VC.db
.vs/Calculator/v17/Browse.VC.db-shm
.vs/Calculator/v17/Browse.VC.db-wal
.vs/Calculator/v17/Browse.VC.opendb
.vs/Calculator/v17/DocumentLayout.backup.json
calculator/Debug/
calculator/Project1/Debug/